/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */

body{
    font-family: "Lora", serif;
    background-color: #111111;
    color: #f5f5f5;
    line-height: 1.6;
}

/* Header */

header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    background-color: #111111;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}


.menu a:hover{
    color: #9029c7;
    font-weight: bold;
}

/* Logo */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 70px;
    height:auto;
}
.logo-texto {
    display: flex;
    flex-direction: column;
}
/* Tipografía */

h1{
    font-family: "Playfair Display", serif;
}
h2, h3, h4{
    font-family: "Playfair Display", serif;
}
/* Elementos */


article {
    padding: 20px 30px;
}

a {
    color: #9029c7;
    text-decoration: none;
}

/* Hero */
/* Foto */
.hero img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-texto{
    max-width: 700px;
}

/* Section */

section{
    padding: 15px 150px;
    scroll-margin-top: 120px;
}

/* Tecnologías */

.tecnologias-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologia img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    transition: all 0.3s;
}
.tecnologia img:hover{
    transform: translateY(-4px);
}
.tecnologia p{
    
    margin-top: 15px;
   
}

/* Proyectos */

.contenedor-proyectos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;

}

.proyecto {
    display: flex;
    flex-direction: column;
    width: calc(32% - 5px);
    margin-top: 30px;
    border: 1px solid #9029c7;
    background-color: #1c1b1b;
    border-radius: 10px;
    transition: transform .3s ease,
                box-shadow .3s ease,
                border-color .3s ease;
}
.proyecto p {
    flex: 1;
}

.proyecto:hover {
    transform: translateY(-6px);
    border-color: #b14cff;
    box-shadow: 0 0 18px rgba(176,76,255,.55);
}
.tec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.tec img {
    margin-top: 20px;
    width: 28px;
}

.proyecto a{
    display: flex;
    justify-content: end;
}

.github {
    display: flex;
    gap: 5px;
    width: 60%;
    justify-content: center;
    margin: 20px auto;   
    border: 1px solid #9029c7;
    border-radius: 10px;
    background-color: #8c55a9;
    transition: all 0.3s ease;
    padding: 5px

}
.github img {
    width: 16px;
    object-fit: contain;
}

.github a {
    color: #dddcdd;
    font-weight: bold;
    font-size: 10px;
}

.github:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 6px #9029c7;
}
/* Experiencia Timeline*/

/* EXPERIENCIA TIMELINE */
.timeline {
    display: flex;
    flex-direction: column;
}

.experiencia {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    align-items: stretch;
    justify-content: flex-start;
}



.linea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    gap: 10px;
    width: 3px;

}
.circulo {
    width: 13px;
    height: 13px;
    background-color: #8c4daf;
    border-radius: 50%;
    box-shadow: 0 0 8px #9029c7; 
    transition: all 0.3s;
}

.experiencia:hover .circulo{
    background-color: #9029c7;
    box-shadow: 0 0 9px #9029c7;    
}

.barra {
    width: 1px;
    flex: 1;
    background-color: #7f7485;
    
}
.contenido {
    flex: 1;
}

.fecha {
    color: #a19ca1;
    font-size: small;
}

.contenido ul {
    padding: 20px 30px;
}

.experiencia:hover h3{
    transition: all 0.4s;
    color: #9029c7;
}
/* Formación */
.formacion-grid {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}
#educacion h3 {
    margin-top: 30px;
}

.educacion-card {
    flex: 1;
    border: 1px solid #1c1b1b;
    background-color: #1c1b1b;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #9029c7;
    margin-top: 20px;
    transition: all 0.4s;
}
 
.educacion-card:hover {
    box-shadow: 0px 0px 6px #9029c7;
}
.educacion-card h4 {
    border-bottom: 1px solid #a19ca1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    transition: color .4s;
}
.educacion-card:hover h4 {
    color: #9029c7;
}
.educacion-card:hover {
    transform: scale(1.02);
}
/* Certificaciones */
.certificaciones-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    gap: 30px;
}

.certificacion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all .3s ease;
}
.certificacion-card img {
    width: 95px;
    height: 95px;
    object-fit: contain;
    transition: transform .3s ease;
}
.certificacion-card h4 {
    transition: color .3s ease;
}
.certificacion-card:hover img {
    transform: scale(1.08);
}
.certificacion-card:hover h4 {
    color: #9029c7;
}
.certificacion-card:hover {
    filter: drop-shadow(0 0 7px #9029c7);
}

/*contacto*/

.redes {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
    gap: 30px;
    align-items: center;
}
#contacto .descripcion {
    margin-top: 15px;
}

.red a {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    border-radius: 5px;
    border-color: 0px 0px 1px#8c55a9;
    box-shadow: 0px 0px 3px #9029c7;
    background-color: #1c1b1b;
    padding: 5px;
    align-items: center;
    gap: 5px;
    color: #a19ca1;
    transition: all .4s ease;
    
}

.red a:hover {
    box-shadow: 0px 0px 5px #9029c7;
    transform: scale(1.02);
    font-weight: bold;
    color: #9029c7;
}


.redes img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 5px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    padding: 30px 10px;
    border-top: 1px solid rgba(255,255,255,.12);}
.footer-info p {
    font-size: 14px;
    color: #d6d6d6;
}











