/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */

body{
    font-family: "Lora", serif;
    background-color: #111111;
    color: #f5f5f5;
    line-height: 1.6;
}

/* Header */

header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    background-color: #111111;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}


.menu a:hover{
    color: #9029c7;
    font-weight: bold;
}

/* Logo */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 70px;
    height:auto;
}
.logo-texto {
    display: flex;
    flex-direction: column;
}
/* Tipografía */

h1{
    font-family: "Playfair Display", serif;
}
h2, h3, h4{
    font-family: "Playfair Display", serif;
}
/* Elementos */


article {
    padding: 20px 30px;
}

a {
    color: #9029c7;
    text-decoration: none;
}

/* Hero */
/* Foto */
.hero img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-texto{
    max-width: 700px;
}

/* Section */

section{
    padding: 15px 150px;
    scroll-margin-top: 120px;
}

/* Tecnologías */

.tecnologias-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologia img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    transition: all 0.3s;
}
.tecnologia img:hover{
    transform: translateY(-4px);
}
.tecnologia p{
    
    margin-top: 15px;
   
}

/* Proyectos */

.contenedor-proyectos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;

}

.proyecto {
    display: flex;
    flex-direction: column;
    width: calc(32% - 5px);
    margin-top: 30px;
    border: 1px solid #9029c7;
    background-color: #1c1b1b;
    border-radius: 10px;
    transition: transform .3s ease,
                box-shadow .3s ease,
                border-color .3s ease;
}
.proyecto p {
    flex: 1;
}

.proyecto:hover {
    transform: translateY(-6px);
    border-color: #b14cff;
    box-shadow: 0 0 18px rgba(176,76,255,.55);
}
.tec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.tec img {
    margin-top: 20px;
    width: 28px;
}

.proyecto a{
    display: flex;
    justify-content: end;
}

.github {
    display: flex;
    gap: 5px;
    width: 58%;
    justify-content: center;
    margin: 20px auto;   
    border: 1px solid #9029c7;
    border-radius: 10px;
    background-color: #8c55a9;
    transition: all 0.3s ease;
    padding: 5px

}
.github img {
    width: 18px;
    object-fit: contain;
}

.github a {
    color: #dddcdd;
    font-weight: bold;
    font-size: 12px;
}

.github:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 10px #9029c7;
}
/* Experiencia */

/* Footer */














